<!DOCTYPE html>
<html ng-app="website" lang=en>
    <head>
        <title>Select Building Type</title>
        <% include ./partials/head %>
    </head>
    <body ng-controller="MainCtrl">  
 
       <!-- nav bar starts here -->
         <% include ./partials/header %>
    <link href="css/styles.css" rel="stylesheet">    
    <link href="css/gallerly.css" rel="stylesheet">
      <!-- nav bar ends here -->
      
       <div class="container-fluid new-surveyor-form_bg-img">
          
            <div class="col-sm-10 col-sm-offset-1">
                
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <!-- top-side ad div -->
                        <div class="ad-space-top">
                           
                        </div>
                    </div> <!-- col-sm-6 -->
                </div> <!-- row -->
                
                <h3 class="select-building-type"> <span>Select a Suitable Assessment Method </span>


                    <div style="width: 30% ; margin : 40px auto 0px ; border: 2px solid blue ; border-radius: 2px">
                        <select class="form-control">                          
                          <option  selected value="GI">General Indian Standard</option>
                          <option  value="GA">General American Standard</option>
                          <option  value="GE">General European Standard</option>
                        </select>
                    </div> 
                </h3>

                 <h3 class="select-building-type" style="padding: 30px 0">
                        <span style="background-color: #73b6d2; border : 4px solid #73b6d2; border-radius: 20px; color: #fff;"> Select Your Building Type </span> 
                </h3>

    <div class="row" style="margin:0; background:#f5f5f5; padding-bottom:20px;">

        <br/> 

        <div class="col-sm-12"> 
            
            <div id="gallerly">   <!-- note: gallerly plugin has not been used  -->
                
                <div class="image-viewer text-center">
                    
                    <a class="thumbnail">
                        <img  style="width: 200px" src="./img/image-1.png" data-title="Image Name" 
                         ng-click="DirectMoveAndSave('Masonry')" onclick="StopVIdeo()"  />
                        <div class="desc"> <b style="color: red"> <%=MasonaryObj[0].name[Language] %> </b>
                            <img src="./img/needHelp.png" ng-click="call_slider('Masonry')" onclick="StopVIdeo()" type="button" class="btn btn-xs read-more-img"> 
                            </img>
                        </div>  <!-- desc -->
                    </a>
                    
                    <a class="thumbnail" onclick="StopVIdeo()" >
                        <img style="width: 200px" src="./img/image-2.png" data-title="Image Name" 
                         ng-click="DirectMoveAndSave('Rcc')" onclick="StopVIdeo()"  />
                        <div class="desc"> <b style="color: green">   <%=RccObj[0].name[Language] %>  </b>
                            <img src="./img/needHelp.png" ng-click="call_slider('Rcc')" onclick="StopVIdeo()" type="button" class="btn btn-xs read-more-img">  
                            </img>
                        </div>  <!-- desc -->
                    </a>
                    
                    <a class="thumbnail" onclick="StopVIdeo()" >
                        <img style="width: 200px" src="./img/image-3.png" data-title="Image Name" 
                             ng-click="DirectMoveAndSave('Steel')" onclick="StopVIdeo()" />
                        <div class="desc"> <b style="color:  blue ">  <%=SteelObj[0].name[Language] %> </b>
                            <img src="./img/needHelp.png" ng-click="call_slider('Steel')" onclick="StopVIdeo()" type="button" class="btn btn-xs read-more-img">  
                            </img>
                        </div>  <!-- desc -->
                    </a>
                     
                    <a class="thumbnail" onclick="StopVIdeo()" >
                        <img style="width: 200px" src="./img/image-4.png" data-title="Image Name" 
                             ng-click="DirectMoveAndSave('Composite')" onclick="StopVIdeo()"  />
                        <div class="desc"> <b style="color: purple">  <%=CompositeObj[0].name[Language] %> </b>
                            <img src="./img/needHelp.png" ng-click="call_slider('Composite')" onclick="StopVIdeo()" type="button" class="btn btn-xs read-more-img"> 
                            </img>
                        </div>  <!-- desc -->
                    </a>
                    
                </div>  <!-- image-viewer  -->
            
            </div> <!-- #gallerly  --> 
        
        </div> <!-- col-sm-12 -->                    
    </div>  <!-- row --> 
    
  <a class="sky-blue-btn" href="/3" style=" background-color: #6ba9ff !important;border: 1px solid #6ba9ff !important;"> <  &nbsp; &nbsp; BACK </a>
 
<div class="second"></div>  
<div ng-show="showDiv" class="col-sm-10 col-sm-offset-1">
     
<h3 class="select-building-type">
    <div ng-if="counter == 'Rcc' ">
                RCC
    </div>
     <div ng-if="counter != 'Rcc' ">
            {{counter}}
    </div>
</h3>
                
<div class="row detail-pg-bg">
                
<div class="col-sm-8 col-md-8 col-lg-9">

<div ng-hide="preClick">                    
<div ng-show="!vidDiv" class="container slider">
<img ng-repeat="slide in slides " height="250" width="590" class="slide slide-animation nonDraggableImage"
ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                    
<a class="arrow prev" onclick="StopVIdeo()" ng-click="nextSlide()"></a>
<a class="arrow next" onclick="StopVIdeo()" ng-click="prevSlide()"></a> 
</div>

<div ng-show="vidDiv"  class="container slider">
    <video ng-repeat="video in videoList" height="200" width="590" class="slide slide-animation nonDraggableImage" controls poster="{{video.img}}" ng-swipe-right="nextVideo()" ng-swipe-left="prevVideo()"
    ng-hide="!isCurrentvideoIndex($index)" ng-src="{{video.url}}">
         <source src="{{video.url}}" type="video/mp4">     
    </video>    
 
<a class="arrow prev" onclick="StopVIdeo()" ng-click="nextVideo()"></a>
<a class="arrow next" onclick="StopVIdeo()" ng-click="prevVideo()"></a> 
</div>
</div>  

<div ng-show="postImgClick">
<div  class="container slider">
<img  onclick="StopVIdeo()" height="250" width="590" class="slide slide-animation nonDraggableImage"
ng-src="{{Img_click_src}}">
                    
<a class="arrow prev" onclick="StopVIdeo()" ng-click="nextSlide()"></a>
<a class="arrow next" onclick="StopVIdeo()" ng-click="prevSlide()"></a> 
</div>
</div>

<div ng-show="postVideoClick" class="container slider">
<video  height="200" width="590" class="slide slide-animation nonDraggableImage" controls
     ng-src="{{Video_click_src}}" poster="{{VideoPosterSrc}}">     
</video>                   
<a class="arrow prev" onclick="StopVIdeo()" ng-click="nextSlide()"></a>
<a class="arrow next" onclick="StopVIdeo()" ng-click="prevSlide()"></a> 
</div>
 
     
    <!-- description part -->
    <div class="col-sm-12">
        <label class="label-description">Description</label>
        <p ng-if="counter=='Masonry'" class="detailed-desc">  <%=MasonaryObj[0].description[Language] %>  </p>  
        <p ng-if="counter=='Rcc'" class="detailed-desc"> <%=RccObj[0].description[Language] %> </p>   
        <p ng-if="counter=='Steel'" class="detailed-desc"> <%=SteelObj[0].description[Language] %> </p>   
        <p ng-if="counter=='Composite'" class="detailed-desc"> <%=CompositeObj[0].description[Language] %></p>                         
    </div>
    <!-- description part -->
                    
</div> <!-- col-sm-8 -->
                
    <!-- side bar starts -->                        
        <div class="col-sm-4 col-md-4 col-lg-3">
            <div class="row" style="margin:11px 0 0;">
                <p class="different-views">Views of Lintel from different angles</p>                            
                <div ng-repeat="x in data|filter:customFilter " class="col-sm-6" style="padding:0 5px;"> 
                    <div class="side-bar-imgs-div">
                        <a>
                            <img onclick="StopVIdeo()" ng-click="img_click('{{x['img']}}')" src="{{x['img']}}" class="img-responsive side-bar-img">
                        </a>
                    </div>  <!-- side-bar-imgs-div -->      
                </div>  <!-- col-sm-6 -->                            
                <div class="clearfix"></div>                            
                <h6 class="label-videos">Videos</h6>                            
                <div ng-repeat="x in data | filter:VideoFilter" class="col-sm-6" style="padding:0 5px;">
                <div class="side-bar-imgs-div">
                 <a href="">
                    <img onclick="StopVIdeo()" ng-click="video_click('{{x['url']}}')" src="{{x['img']}}" frameborder="0" allowfullscreen width="100%" height="100px"> 
                </a>
                </div>
                </div>                                              
            </div> <!-- row -->                 
        </div> <!-- col-sm-4 -->
     <!-- side bar ends -->
                    
    <div class="col-sm-12 text-center" style="margin-top:30px;">
        
        <a href="javascript:void(0);" ng-click="showDiv = false;" class="sky-blue-btn" style="display:inline-block; margin:15px 10px 25px; background-color: #6ba9ff !important;border: 1px solid #6ba9ff !important;"><i class="fa fa-times"></i>&nbsp; No</a>
            
        <a ng-click="moveAndSave()" href="javascript:void(0);" class="orange-btn" style="display:inline-block; margin:15px 10px 25px"><i class="fa fa-check-square"></i>&nbsp; Yes</a>   
    
    </div>  <!-- col-sm-12  -->                 
                
</div>  <!-- row  -->
              <!--  bottom ad part   -->
                 
              <!--  bottom ad part   -->
            
            </div>  <!-- col-sm-10 -->
<!--slider-->
                <div class="row"> 
                    <div class="col-sm-6 col-sm-offset-3">
                      <!-- bottom-side ad div -->
                        <div class="ad-space-top">
                            <img src="./img/ad3.png" class="img-responsive ad-bottom" style="margin:20px auto;">
                        </div>
                    </div> <!-- col-sm-6 -->
                </div> <!-- row -->
            
            </div>  <!-- col-sm-10 -->
        
        </div> <!-- container-fluid -->
      
        <% include ./partials/footer %>

        <script src="js/gallerly.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <script>
            var $gallerly = document.querySelector("#gallerly");
            var gallerly = new Gallerly($gallerly);
        </script>   
        <script>
            $(document).ready(function(){
                $(".thumbnail").hover(function(){ 
                    $(this).find(".desc").toggleClass("onhover-toggle");
                });
            
            });
        </script>
        <script type="text/javascript">
            function StopVIdeo(){                 
                $("video").each(function () { this.pause() });
            };
        </script>
        
        <script src="js/app.js"></script>
    
        <script type="text/javascript">
            $("img").click(function() {
                    $('html,body').animate({
                    scrollTop: $(".second").offset().top},
                    'slow');
            });
        </script>

    </body>
</html>
